html,body {
	height:100%;
}

html{
	background: url(../images/flight.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	background: transparent;
}

.navbar{
	border-radius:0px;
	/*margin-bottom: -50px;*/
}

#about-1{
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 3s;
	-webkit-animation-iteration-count: 1;

	-moz-animation-duration: 3s;
	-moz-animation-delay: 3s;
	-moz-animation-iteration-count: 1;

	-o-animation-duration: 3s;
	-o-animation-delay: 3s;
	-0-animation-iteration-count: 1;

}

#smiley{
	-webkit-animation-duration: 5s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;

	-moz-animation-duration: 5s;
	-moz-animation-delay: 0s;
	-moz-animation-iteration-count: 1;

	-o-animation-duration: 5s;
	-o-animation-delay: 0s;
	-0-animation-iteration-count: 1;

}

#about-2{
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 6s;
	-webkit-animation-iteration-count: 1;

	-moz-animation-duration: 3s;
	-moz-animation-delay: 6s;
	-moz-animation-iteration-count: 1;

	-o-animation-duration: 3s;
	-o-animation-delay: 6s;
	-0-animation-iteration-count: 1;
}

#about-3{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 2;

	-moz-animation-duration: 2s;
	-moz-animation-delay: 1s;
	-moz-animation-iteration-count: 2;

	-o-animation-duration: 2s;
	-o-animation-delay: 1s;
	-0-animation-iteration-count: 2;

}

#fishes{
	-webkit-animation-duration: 6s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;

	-moz-animation-duration: 6s;
	-moz-animation-delay: 0s;
	-moz-animation-iteration-count: 1;

	-o-animation-duration: 6s;
	-o-animation-delay: 0s;
	-0-animation-iteration-count: 1;
}

#message{
	text-align: center;
	margin: auto;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;

	-moz-animation-duration: 1s;
	-moz-animation-delay: 0s;
	-moz-animation-iteration-count: 1;

	-o-animation-duration: 1s;
	-o-animation-delay: 0s;
	-0-animation-iteration-count: 1;
}

.wrap {
	margin:auto;
	perspective: 1000px;
	perspective-origin: 50% 50%;
	float: none;
	display:flex;
	height: 100%;
}


.cube {
	margin: auto;
	position: relative;
	height: 150px;
	width: 150px;
	transform-style: preserve-3d;
	bottom:0;
	left:0;
}

.cube > div {
	position: absolute;
	box-sizing: border-box;
	padding: 10px;
	height: 100%;
	width: 100%;
	opacity: 0.9;
	background-color: #000;
	border: solid 1px #eeeeee;
	color: #ffffff;
}

.front {
	-webkit-transform: translateZ(100px);
	-moz-transform: translateZ(100px);
	-o-transform: translateZ(100px);
	transform: translateZ(100px);
}

.back {
	-webkit-transform: translateZ(-50px) rotateY(180deg);
	-moz-transform: translateZ(-50px) rotateY(180deg);
	-o-transform: translateZ(-50px) rotateY(180deg);
	transform: translateZ(-50px) rotateY(180deg);
}

.right {
	-webkit-transform: rotateY(-270deg) translateX(50px);
	-webkit-transform-origin: top right;

	-moz-transform: rotateY(-270deg) translateX(50px);
	-moz-transform-origin: top right;

	-o-transform: rotateY(-270deg) translateX(50px);
	-o-transform-origin: top right;

	transform: rotateY(-270deg) translateX(50px);
	transform-origin: top right;
}

.left {
	-webkit-transform: rotateY(270deg) translateX(-50px);
	-webkit-transform-origin: center left;

	-moz-transform: rotateY(270deg) translateX(-50px);
	-moz-transform-origin: center left;

	-o-transform: rotateY(270deg) translateX(-50px);
	-o-transform-origin: center left;

	transform: rotateY(270deg) translateX(-50px);
	transform-origin: center left;
}

.top {
	-webkit-transform: rotateX(-270deg) translateY(-50px);
	-webkit-transform-origin: top center;

	-moz-transform: rotateX(-270deg) translateY(-50px);
	-moz-transform-origin: top center;

	-o-transform: rotateX(-270deg) translateY(-50px);
	-o-transform-origin: top center;

	transform: rotateX(-270deg) translateY(-50px);
	transform-origin: top center;
}

.bottom {
	-webkit-transform: rotateX(270deg) translateY(50px);
	-webkit-transform-origin: bottom center;

	-moz-transform: rotateX(270deg) translateY(50px);
	-moz-transform-origin: bottom center;

	-o-transform: rotateX(270deg) translateY(50px);
	-o-transform-origin: bottom center;

	transform: rotateX(270deg) translateY(50px);
	transform-origin: bottom center;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotateX(0deg) rotateY(0deg);
	}

	to {
		-webkit-transform: rotateX(360deg) rotateY(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotateX(0deg) rotateY(0deg);
	}

	to {
		-moz-transform: rotateX(360deg) rotateY(360deg);
	}
}

@-o-keyframes rotate {
	from {
		-o-transform: rotateX(0deg) rotateY(0deg);
	}

	to {
		-o-transform: rotateX(360deg) rotateY(360deg);
	}
}

@keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}

	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.cube {
	-webkit-animation: rotate 20s infinite linear;
	-moz-animation: rotate 20s infinite linear;
	-o-animation: rotate 20s infinite linear;
	animation: rotate 20s infinite linear;
}

.wrap:hover .front {
	-webkit-transform: translateZ(200px);
	-moz-transform: translateZ(200px);
	-o-transform: translateZ(200px);
	transform: translateZ(200px);
}

.wrap:hover .back {
	-webkit-transform: translateZ(-150px) rotateY(180deg);
	-moz-transform: translateZ(-150px) rotateY(180deg);
	-o-transform: translateZ(-150px) rotateY(180deg);
	transform: translateZ(-150px) rotateY(180deg);
}

.wrap:hover .right {
	-webkit-transform: rotateY(-270deg) translateZ(100px) translateX(50px);
	-moz-transform: rotateY(-270deg) translateZ(100px) translateX(50px);
	-o-transform: rotateY(-270deg) translateZ(100px) translateX(50px);
	transform: rotateY(-270deg) translateZ(100px) translateX(50px);
}

.wrap:hover .left {
	-webkit-transform: rotateY(270deg) translateZ(100px) translateX(-50px);
	-moz-transform: rotateY(270deg) translateZ(100px) translateX(-50px);
	-o-transform: rotateY(270deg) translateZ(100px) translateX(-50px);
	transform: rotateY(270deg) translateZ(100px) translateX(-50px);
}

.wrap:hover .top {
	-webkit-transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
	-moz-transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
	-o-transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
	transform: rotateX(-270deg) translateZ(50px) translateY(-50px);
}

.wrap:hover .bottom {
	-webkit-transform: rotateX(270deg) translateZ(100px) translateY(100px);
	-moz-transform: rotateX(270deg) translateZ(100px) translateY(100px);
	-o-transform: rotateX(270deg) translateZ(100px) translateY(100px);
	transform: rotateX(270deg) translateZ(50px) translateY(50px);
}

.cube > div {
	-webkit-transition: transform 0.2s ease-in;
	-moz-transition: transform 0.2s ease-in;
	-o-transition: transform 0.2s ease-in;
	transition: transform 0.2s ease-in;
}


.wrapper{
	margin: auto;
	min-height: 100%;
	height: 100%;
	margin: 0 0 0 0;
}

.index-row-1{
	width:100%;
	min-height: 200px;
	height: 200px;
	display:table-row;
}

.index-row-2{
	width:100%;
	min-height: 70%;
	height: 70%;
	display: table-row;
	margin-left:30px; 
}
.index-row-3{
	width:100%;
	min-height: 10%;
	height: 10%;
	display: table-row;
}
.index-table{
	width:100%;
	display: table;
	height: 100%;
	/*padding-top: 50px;*/
	/*margin-top: 50px;*/
}
.container{
	height: 100%;
}

.main{
 	/* Negative indent footer by its height */
  	/*margin: 0 0 0 0;*/
  	/* Pad bottom by footer height */
  	/*padding: 0 0 0 0;*/
}

.footer {
    background: #810000;
    height: 50px;
    color:#AAA;
    line-height: 50px;
    vertical-align: middle;
    font-size: 1.2em;
    margin-top: 30px;
}	
.table-cell{
	height: 100%;
	float: none;
	display: table-cell;
}
.container-fluid{
	margin:0;
	padding: 0;
}

.row{
	margin:0;
}

.navbar{
	height: 10%;
	max-height: 52px;
}

.main{
	height: 90%;
}

.vcenter{
	vertical-align: middle;
}